body {
    font-family: Arial, sans-serif;
    background-image: url("portraitbg.jpg");
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: linen;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 400px;
    padding: 20px;
    text-align: center;
}

h1 {
    color: green;
    margin-bottom: 20px;
}

.transaction {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
}

.transaction-header {
    background-color: green;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
}

.transaction-body {
    padding: 10px;
}

.transaction-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
    color: green;
}

.value {
    color: value;
}
.p1{
		font-weight:bold;
		text-decoration:none;
		color:black;
		}