*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url("bg.jpg");
    background-position: center;
    background-size: cover;
    background-color: white;	
}		


.background{
width:100%;
height: 100%;
background-image: url(".jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;    
}

.logo{
border: solid black; 
border-radius: 50%; 
width: 100px; 
display: block; 
margin-left: auto; 
margin-right: auto; 
}

.login{
    position:absolute;
    top:10%;
    left:43.5%;
    color:#3a3c4b;
    font-weight:10px;
    font-size:40px;
    font-family: 'Lobster', cursive;
}

center{
    font-family: 'Urbanist', sans-serif;
}

.container1{
    box-sizing:border-box;
    position:relative;
    top:150px;
    width:300px;
    height:400px;
    border:1px dotted #e9eff548;
    border-radius:10px;
    padding:10px;
    font-size:13px;
    transition-property:background;
    transition-duration:0.5s;
    transition-timing-function:ease-in-out;
    background-color:white; 
}

.container1:hover{
    background:#6e5e5e27;
    border:none;
    border-radius:10px;
    box-shadow:0 7px 7px 0 #1f212348, 0 10px 10px 0 #1f212348;
}

.box{
    outline:none;
    border:1px solid #383a3e;
    border-radius:10px;
    margin:3px 5px;
    padding:8px;
}
.box:hover{
        border:1.2px solid #0075ff;
        box-shadow:0 7px 7px 0 #1f212348, 0 10px 10px 0 #1f212348;
}

.box:focus{
    border-top:none;
    border-left:none;
    border-bottom:3px solid #0075ff;
    border-right:none;
    border-radius:5px;
    transition-duration:0.2s;
    transition-timing-function:ease-out;
}

.loginbtn{
    width:100px;
    height:30px;
    background:white;
    border:1px solid #383a3e;
    border-radius:10px;
    outline:none;
    margin:10px 5px;
            
}

.loginbtn:hover{
    background:#0075ff;
    border:1.2px solid #0075ff;
    color:white;
    font-weight:bold;
    box-shadow:0 5px 5px 0 #1f212348, 0 7px 7px 0 #1f212348;
}

.container2{
    position:relative;
    top:80px;
    width:250px;
    height:20px;
    color:white;
    padding:5px 5px;
    font-size:10px;
}

.check{
    position:relative;
    right:1px;
}

.p1{
    position:relative;
     bottom:3.5px;
    right:1px;
}

.p2{
    position:relative;
    bottom:15px;
    left:58px;
    text-decoration:none;
     color:rgb(243, 224, 224);
}

.p2:hover{
    color:#0075ff;
}

.p3{
    font-weight:bold;
    text-decoration:none;
    color:rgb(237, 222, 222);
}

.p3:hover{
    color:#0075ff;
}

.bar{
    position:relative;
    top:3px;
    width:240px;
}

.p4{
    position:relative;
    top:7px;
}

.container3{
    position:relative;
    top:130px;
    right:60px;
    width:95px;
    height:23px;
    background:#0075ff;
    border-radius:5px;
}

.t1{
    color:white;
    font-size:11px;
    position:relative;
    bottom:7.5px;
}

.pic1{
    position:relative;
    right:7px;
    width:23px;
}

.container3:hover{
    color:white;
    font-weight:bold;
    box-shadow:0 5px 5px 0 #1f212348, 0 7px 7px 0 #1f212348;
}

.container4{
    position:relative;
    top:106.2px;
    right:-63px;
    width:95px;
    height:23px;
    background:rgb(17, 16, 16);
    border-radius:5px;
}

.t2{
    color:rgb(237, 230, 230);
    font-size:11px;
    position:relative;
    bottom:3px;
}

.pic2{
    position:relative;
    right:7px;
    top:2.5px;
    width:18px;
}

.container4:hover{
    color:white;
    font-weight:bold;
    box-shadow:0 5px 5px 0 #1f212348, 0 7px 7px 0 #1f212348;
}

.p3{
    font-weight:bold;
    text-decoration:none;
    color:rgb(234, 234, 234);
}