* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    height: 100vh;
    width: 100%;
    background-image: url("bg.jpg");
    background-position: center;
    background-size: cover;
    background-color: white;	
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
    background-color:darkblue;
}
.sidebar:hover {
    width: 260px;
}
.sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}
.logo img {
    width: 43px;
    border-radius: 50%;
}
.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}
.sidebar:hover .logo h2 {
    display: block;
    color:white;
}
.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}
.sidebar .links::-webkit-scrollbar {
    display: none;
}
.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
    color:white;
}
.links li:hover {
    cursor: pointer;
    background:blue;
}
.links h4 {
    color: #222;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
    color:white;
}
.sidebar:hover .links h4 {
    display: block;
}
.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
    color:white;
}
.sidebar:hover .links hr {
    border-color: whitesmoke;
}
.links li span {
    padding: 12px 10px;
}
.links li a {
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}
.sidebar:hover .links li a {
    display: block;
    color:white;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Sidebar Styles */

.links h4 {
    margin: 10px 0;
    color: #e9ecef;
}
.links li a:hover {
    color: #ffc107;
}
/* Table Styles */
table {
    width: 65%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

th {
    background-color: #343a40;
    color: #ffffff;
}

tr:hover {
    background-color: #f1f1f1;
}













